.board {
  width: 75vw;
  height: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  .board-row {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: calc(100% / 11);
    text-align: center;
  }

  .property {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid black;
    width: calc(100% / 11);
    height: 100%;

    &-right {
      position: relative;
      left: calc((100% / 11) * 9);
      //transform: rotate(-90deg);
    }
    &-left {
      position: relative;
      transform: rotate(90deg);
    }
  }

  .start-tile {
    border: 1px solid green;
  }
}
