<div class="dialog-main">

  <!--  DIALOG HEADER-->
  <div class="dialog-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6 d-flex justify-content-start align-items-center">
          <h5 *ngIf="slideCounter === 1">Personalizza i giocatori</h5>
          <h5 *ngIf="slideCounter === 2">Modifica le impostazioni della partita</h5>
          <h5 *ngIf="slideCounter === 3">Controlla le tue scelte</h5>
        </div>
        <div class="col-6 d-flex justify-content-end align-items-center">
          <i (click)="closeModal()" class="fas fa-times-circle fa-2x"></i>
        </div>
      </div>
    </div>
  </div>

  <!--  DIALOG CONTENT-->
  <div class="dialog-content">

    <!--  SLIDE 1-->
    <div *ngIf="slideCounter === 1" class="slider">
      <form [formGroup]="gameConfiguration" action="">
        <div class="container-fluid">
          <div class="row">
            <div class="col-4">
              Seleziona il numero di giocatori.
              <div class="player-selection">
                <select [formControl]="playerCount" id="playerCount"
                        name="playerCount">
                  <option value="2">2 Giocatori</option>
                  <option value="3">3 Giocatori</option>
                  <option value="4">4 Giocatori</option>
                </select>
              </div>
            </div>
            <div class="col-8 d-flex justify-content-center align-items-start flex-column">

              <ng-container formArrayName="players">
                <ng-container *ngFor="let player of players.controls; let i = index;"
                              [formGroupName]="i">
                  <div class="player-customization-section mt-2">
                    <div class="player-customization-item">

                      <!--PLAYER NUMBER-->
                      <strong>Giocatore {{i + 1}}</strong>

                      <!--PlAYER NAME-->
                      <div class="player-customization-name">
                        <label class="me-3" for="playerName-{{i}}">Nome</label>
                        <input formControlName="name" id="playerName-{{i}}" type="text">
                      </div>

                      <!--PLAYER COLOR-->
                      <div class="player-customization-color">
                        <label class="me-3"
                               for="colorSelect-{{i}}">Colore</label>
                        <select formControlName="color" id="colorSelect-{{i}}" name="">
                          <option
                            *ngFor="let color of playerColors"
                            [value]="color.value">
                            {{color.name}}
                          </option>
                        </select>
                      </div>

                      <!--PLAYER-ICON-->
                      <div class="player-customization-icon">
                        <label class="me-3"
                               for="iconSelect-{{i}}">Icona</label>
                        <select formControlName="icon" id="iconSelect-{{i}}" name="">
                          <option
                            *ngFor="let icon of playerIcons"
                            [value]="icon.value">
                            {{icon.name}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="player-customization-display">
                      <span class="me-2"><strong>{{players.value[i].name}}</strong></span>
                      <i [class]="players.value[i].icon" [style.color]="players.value[i].color "
                         class="fa-3x"></i>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!--  SLIDE 2-->
    <div *ngIf="slideCounter === 2" class="slider">
      <form [formGroup]="gameConfiguration" action="">
        <div class="container-fluid">
          <div class="row mt-2" formGroupName="matchConfig">
            <div class="col-6  d-flex justify-content-center align-items-start flex-column">
              <strong>Seleziona la difficoltà</strong>
              <select
                class="mt-2"
                formControlName="preset"
                id="preset">
                <option
                  *ngFor="let preset of matchPresetArray"
                  [value]="preset.key">
                  {{preset.displayName}}
                </option>
              </select>
            </div>
            <div class="col-6  d-flex justify-content-center align-items-start flex-column">
              <strong>Bilancio di partenza</strong>
              <select *ngIf="matchConfig.get('preset')?.value === 'custom'"
                      class="mt-2"
                      formControlName="startingMoney"
                      id="money">
                <option
                  *ngFor="let money of startingMoney"
                  [value]="money">
                  {{money}}
                </option>
              </select>
              <p *ngIf="matchConfig.get('preset')?.value !== 'custom'"> {{matchConfig.get('startingMoney')?.value}}</p>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <p style="color: red">Ulteriori mpostazioni non sono disponibili in questa versione del gioco.</p>
            </div>
          </div>
        </div>
      </form>

    </div>
    <!--  SLIDE 3-->
    <div *ngIf="slideCounter === 3" class="slider">
      <div class="container-fluid">
        <div class="row">
          <div *ngFor="let player of players.controls; let i = index;" class="col-12">
            <app-player-banner [money]="matchConfig.controls.startingMoney?.value"
                               [playerConfig]="player.value"></app-player-banner>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!--  DIALOG FOOTER-->
  <div class="dialog-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6 d-flex justify-content-start align-items-center">
          <i (click)="sliderBack()"
             *ngIf="slideCounter !== minSlide"
             class="fas fa-arrow-left fa-2x"
          ></i>
        </div>
        <div *ngIf="slideCounter !== maxSlide" class="col-6 d-flex justify-content-end align-items-center">
          <i (click)="sliderForward()"
             class="fas fa-arrow-right fa-2x"
          ></i>
        </div>
        <div *ngIf="slideCounter === maxSlide" class="col-6 d-flex justify-content-end align-items-center">
          <button [disabled]="!gameConfiguration.valid">AVVIA LA PARTITA</button>
        </div>
      </div>
    </div>
  </div>
</div>
