.main-button {
  border-radius: var(--buttons-border-radius);
  padding: var(--buttons-padding);
  border: none;
  transition: var(--buttons-transition);
  box-shadow: var(--buttons-box-shadow);
  cursor: pointer;

  &-primary {
    background: var(--primary-color);
    color: #FFF;

    &:active {
      background: var(--primary-darker-color);
      box-shadow: var(--buttons-active-box-shadow);
    }
  }

  &-secondary {
    background: var(--secondary-color);
    color: #FFF;

    &:active {
      background: var(--secondary-darker-color);
      box-shadow: var(--buttons-active-box-shadow);
    }
  }

  &-tertiary {
    background: var(--tertiary-color);
    color: #FFF;

    &:active {
      background: var(--tertiary-darker-color);
      box-shadow: var(--buttons-active-box-shadow);
    }
  }
}


.main-icon-button {
  width: 20px;
  height: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.5rem;
  border: none;
  transition: var(--buttons-transition);
  box-shadow: var(--buttons-box-shadow);
  cursor: pointer;

  &-primary {
    background: var(--primary-color);
    color: #FFF;

    &:active {
      background: var(--primary-darker-color);
      box-shadow: var(--buttons-active-box-shadow);
    }
  }

  &-secondary {
    background: var(--secondary-color);
    color: #FFF;

    &:active {
      background: var(--secondary-darker-color);
      box-shadow: var(--buttons-active-box-shadow);
    }
  }

  &-tertiary {
    background: var(--tertiary-color);
    color: #FFF;

    &:active {
      background: var(--tertiary-darker-color);
      box-shadow: var(--buttons-active-box-shadow);
    }
  }
}

.close-icon-button {
  width: 20px;
  height: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.5rem;
  border: none;
  transition: var(--buttons-transition);
  background: var(--alert-color);
  color: #FFF;
  box-shadow: var(--buttons-box-shadow);
  cursor: pointer;

  &:active {
    background: var(--alert-darker-color);
    box-shadow: var(--buttons-active-box-shadow);
  }
}
