:root {
  --primary-color: #1D3557;
  --secondary-color: #457B9D;
  --tertiary-color: #A8DADC;
  --dark-white: #F1FAEE;
  --alert-color: #E63946;

  --light-black-color: rgba(0, 0, 0, 0.5);

  --player-color-1: #C1121F;
  --player-color-2: #0080FF;
  --player-color-3: #60D394;
  --player-color-4: #9D4eDD;
}
