:root {
  --buttons-box-shadow: 0 0 4px 2px var(--light-black-color);
  --buttons-active-box-shadow: 0 0 5px 3px var(--light-black-color);
  --buttons-border-radius: 8px;
  --buttons-padding: 10px 15px;
  --buttons-transition: 100ms all ease-in-out;
}
