.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid black;
}

.rent {
  &-description {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &-icon {
    display: flex;
    justify-content: space-around;
    align-items: center;

    i.fa-home {
      color: green;
    }

    i.fa-hotel {
      color: red;
    }
  }

  &-price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
