<div class="main-page">
  <div class="menu-body">
    <div class="menu-row">
      <button (click)="openStartGameModal()" class="menu-selection-btn" color="primary"
              main-btn
      >
        GIOCA
      </button>
    </div>
    <div class="menu-row">
      <button class="menu-selection-btn" color="primary" main-btn>IMPOSTAZIONI</button>
    </div>
    <div class="menu-row">
      <button class="menu-selection-btn" color="primary" main-btn>CREDITI</button>
    </div>
  </div>
</div>
<div *ngIf="startModal" class="starting-modal">
  <app-starting-modal (closeModalEmitter)="closeStartGameModal()"></app-starting-modal>
</div>

